@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  .title {
    @include mainTitle;
  }
  .sortInputs {
    @include wrapper;
    justify-content: flex-start;
    &_search {
      margin: $base-size;
      input {
        height: $base-size * 2.5;
      }
    }
    &_show {
      margin: $base-size;
      select {
        height: $base-size * 2.5;
        margin-left: $base-size;
      }
    }
  }
  .scrollWrapper {
    overflow-x: auto !important;
  }
  .button {
    background-color: $color-background-color;
  }
  .link {
    @include link;
  }
}
