@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  @include container;
  color: $color-text-dark;
  .text {
    &_element {
      @include wrapper;
      flex-direction: column;
      .title {
        @include mainTitle;
      }
      p {
        text-align: justify;
      }
    }
  }
  .buttons {
    @include wrapper;
    justify-content: center;
    .button {
      background-color: $color-background-color;
      margin: $base-size $base-size/2;
      color: $color-text-light;
      font-weight: bold;
    }
    .delete {
      background-color: $color-error;
    }
    .link {
      @include link;
    }
  }
  .photos {
    padding: $base-size $base-size $base-size/2 $base-size;

    .photoWrapper {
      height: 200px;
      position: relative;
      margin-bottom: $base-size;
    }
    img {
      @include image;
    }
  }
}
