@import "settings.scss";

@mixin container {
  margin: 0 auto;
  max-width: 1180px;
  padding: $base-size;
}

@mixin wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@mixin image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@mixin link {
  text-decoration: none;
  color: $color-text-light;
}

@mixin mainTitle {
  margin: $base-size * 2 $base-size/2;
  letter-spacing: 3px;
  text-shadow: 1px 2px 4px $color-grey;
  text-align: center;
}
