@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  @include container;
  .addNew {
    @include wrapper;
    justify-content: center;
    .buttonDesc {
      @include mainTitle;
      color: $color-text-dark;
    }
  }
  .button {
    background-color: $color-background-color;
    margin: $base-size;
  }
  .link {
    @include link;
    color: $color-text-light;
    font-family: bold;
  }
}
