@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  @include container;
  .form {
    padding: $base-size * 2;
    .title {
      @include mainTitle;
    }
    .button {
      background-color: $color-main;
      font-weight: bold;
    }
  }
}
