@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  .title {
    @include mainTitle;
  }
  .sortInputs {
    @include wrapper;
    justify-content: space-around;
    &_search {
      margin: $base-size;
      input {
        height: $base-size * 2.5;
      }
    }
    &_show {
      margin: $base-size;
      select {
        height: $base-size * 2.5;
        margin-left: $base-size;
      }
    }
  }
  .scrollWrapper {
    overflow-x: auto !important;
    .table {
      &_head {
        &_cell {
          font-family: $font-header;
          letter-spacing: 3px;
          font-weight: 600;
          color: $color-text-dark;
        }
      }
    }
  }
  .button {
    background-color: $color-background-color;
  }
  .link {
    @include link;
  }
}
