@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  @include container;
  .title {
    @include mainTitle;
  }
  .buttons {
    @include wrapper;
    justify-content: center;
    .button {
      background-color: $color-background-color;
      margin: $base-size $base-size/2;
    }
    .link {
      @include link;
    }
  }
}
