@import "../../../styles/settings.scss";
@import "../../../styles/mixins.scss";

.root {
  @include container;
  .title {
    text-align: center;
  }
  .button {
    background-color: $color-background-color;
  }
  .link {
    @include link;
    color: $color-text-light;
    font-family: bold;
  }
}
